<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="index.css?v=<%= hash %>" />
  <title>俄罗斯方块</title>
</head>
<body>
  <div class="main">
    <div class="playfield"></div>
    <div class="gamepad">
      <div class="dir-control">
          <div class="row">
              <div class="btn up">
                <div class="key"></div>
              </div>
          </div>
          <div class="row">
              <div class="btn left">
                <div class="key"></div>
              </div>
              <div class="btn right">
                <div class="key"></div>
              </div>
          </div>
          <div class="row">
              <div class="btn down">
                <div class="key"></div>
              </div>
          </div>
      </div>
      <div class="right">
        <div class="btn enter"><div class="key"></div></div>
        <div class="btn rotate"><div class="key"></div></div>
      </div>
    </div>
  </div>

  <table id="key-table" class="key-table hide" style="display: none;" border>
    <caption>游戏按键</caption>
    <thead>
      <tr>
        <th>按键</th>
        <th>动作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="key">Enter</div>
        </td>
        <td>暂停/继续游戏</td>
      </tr>
      <tr>
        <td>
          <div class="key">↑</div>
          <span>/</span>
          <div class="key">W</div>
        </td>
        <td>旋转</td>
      </tr>
      <tr>
        <td>
          <div class="key">↓</div>
          <span>/</span>
          <div class="key">S</div>
        </td>
        <td>下落</td>
      </tr>
      <tr>
        <td>
          <div class="key">←</div>
          <span>/</span>
          <div class="key">A</div>
        </td>
        <td>左移</td>
      </tr>
      <tr>
        <td>
          <div class="key">→</div>
          <span>/</span>
          <div class="key">D</div>
        </td>
        <td>右移</td>
      </tr>
      <tr>
        <td>
          <div class="key"></div>
        </td>
        <td>迅速下落</td>
      </tr>
    </tbody>
  </table>
  
  <script src="bundle.js?v=<%= hash %>"></script>
</body>
</html>