.block {
  & > .cell {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--cell-size) - var(--stroke-width) * 2);
    height: calc(var(--cell-size) - var(--stroke-width) * 2);
    transform: translate(var(--x), var(--y));
    border: var(--stroke-width) solid transparent;
    border-radius: 2px;

    & > .rect1 {
      fill: var(--color);
      filter: brightness(0.7);
    }
    & > .rect2 {
      fill: var(--color);
      fill-opacity: 1;
    }
    & > .rect-corner {
      fill: #fff;
    }
  }
}
