@import './block.scss';
@import './border.scss';
@import './map.scss';

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: #ccc;
  overflow: hidden;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  user-select: none;

  .tetris-window {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: max-content;

    & + .tetris-window {
      margin-left: 20px;
    }

    .block-row {
      display: flex;
      flex-direction: row;
      margin-bottom: 4px;
      height: 70px;

      margin-left: -4px;
      & > div {
        flex: 1;
        margin-left: 4px;
      }

      .clear-lines {
        color: #fff;
        font-size: 20px;

        .border {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .num {
          font-size: 22px;
          letter-spacing: 1px;
        }
      }

      .next-block {
        .border {
          display: flex;
          justify-content: center;
          align-items: center;

          .block {
            position: relative;
            left: 0;
            top: 1px;
            transform: unset;
          }
        }
      }
    }
  }

  .pause-overlay,
  .over-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100%;
    height: 80px;
    color: #fff;
    opacity: 0;
    font-size: 20px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease;

    &.show {
      opacity: 1;
    }
  }
}

.key-table {
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  border-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  border-collapse: collapse;
  background: rgba(0,0,0,0.8);
  color: lightskyblue;
  font-size: 14px;

  caption {
    background: transparent;
    padding: 4px;
    font-weight: bolder;
  }

  tr {
    td,th {
      padding: 4px;
    }

    td:nth-child(1) {
      width: 120px;
      text-align: center;
    }
    td:nth-child(2) {
      padding-left: 8px;
      width: 140px;
    }
  }

  .key {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    min-width: 20px;
    height: 20px;
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: #fafafa;
  }
}